@tailwind base;
@tailwind components;
@tailwind utilities;

body,
button,
input {
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 16px;
}

button,
a {
	outline: none;
}

.open-nav svg path,
.close-nav svg path,
.cart-btn svg path,
.delete-btn svg path {
	transition: fill 0.3s;
}

.open-nav:hover svg path,
.open-nav:focus svg path,
.close-nav:hover svg path,
.close-nav:focus svg path,
.cart-btn:hover svg path,
.cart-btn:focus svg path,
.delete-btn:hover svg path,
.delete-btn:focus svg path {
	fill: black;
}

.carousel-btn svg path {
	transition: stroke 0.3s;
}

.carousel-btn:hover svg path,
.carousel-btn:focus svg path {
	stroke: hsl(26, 100%, 55%);
}

.second-slide {
	transform: translateX(-100%);
}

.third-slide {
	transform: translateX(-200%);
}

.button {
	transition: box-shadow 0.3s;
}

.button:hover,
.button:focus {
	box-shadow: 4px 5px 30px -8px hsl(26, 100%, 55%);
}

@media (min-width: 992px) {
	.nav-link::before {
		position: absolute;
		bottom: -32px;
		height: 3px;
		width: 100%;
		background: hsl(26, 100%, 55%);
		transform: scaleX(0);
		transform-origin: center;
		content: '';
		transition: transform 0.3s;
	}

	.nav-link:hover::before,
	.nav-link:focus::before {
		transform: scaleX(1);
	}
}
